@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 3, 104);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
